{% extends 'baseTemplate.twig' %}
{% block navbar %}
    {% include 'Navbar/Navbar.twig' %}
{% endblock%}
{% block headerTitre %}<h1>Information du techniciens</h1>{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Actif</th>
        </tr>
            <tr>
                <td>{{ TechEntity.getNom }}</td>
                <td>{{ TechEntity.getPrenom }}</td>
                <td>{{ TechEntity.getEmail }}</td>
                <td>{{ TechEntity.getActif ? 'Actif' : 'Inactif' }}</td>
            </tr>
    </table>
    {% if errorMessage is defined %}
        {{errorMessage}}
    {% endif %}
{% endblock %}