{% extends 'baseTemplate.twig' %}
{% block headerTitre %}<h1>Listing des téchniciens</h1>{% endblock %}
{% block menu %}
    <ul>
        <li><a href="createTech">Créations</a></li>
        <li><a href="getTech">Liste</a></li>
    </ul>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Actif</th>
        </tr>

        {% for tech in TabTech %}
        <tr>
                <td>{{ tech.getNom }}</td>
                <td>{{ tech.getPrenom }}</td>
                <td>{{ tech.getEmail }}</td>
                <td>{{ tech.getActif ? 'Actif' : 'Inactif' }}</td>
                <td><a href="updateTech?Pk={{ tech.getPk }}">Modification</a></td>
                <td><a href="getTech?Pk={{ tech.getPk }}">Information</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}